# Кредитный скоринг
При принятии решения о выдаче кредита или займа учитывается т.н. «Кредитный скоринг» — рейтинг платежеспособности клиента. ИИ на основе модели, которую просчитывает машинное обучение — в ней много параметров — возраст, зарплата, кредитная история, наличие недвижимости, автомобиля, судимости и других признаков, после обработки которых выносится положительное или отрицательное решение

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=19369e68812c5403915497700ac5bc83f9d5999c7b7b5557de59a0101941936f
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:

from pyspark.sql import SparkSession


spark = SparkSession.builder\
        .master("local[*]")\
        .appName("Colab_pyspark")\
        .config('spark.ui.port', '4050')\
        .config('spark.executor.memory', '3g')\
        .getOrCreate()
        # .config('spark.sql.execution.arrow.enabled', 'true')\
        # .config('spark."Broadcastsizetable"', '-1')\
        # .config('preferSortHashJoin', 'true')\

# Данные:
[скачать](https://drive.google.com/file/d/1MuAyZiIm3b_r-AgQSj78tsRPqZpvv_2s/view?usp=sharing)

**application_record.csv**
*   Feature name	Explanation	Remarks
*   ID	Client number	
*   CODE_GENDER	Gender	
*   FLAG_OWN_CAR	Is there a car	
*   FLAG_OWN_REALTY	Is there a property	
*   CNT_CHILDREN	Number of children	
*   AMT_INCOME_TOTAL	Annual income	
*   NAME_INCOME_TYPE	Income category	
*   NAME_EDUCATION_TYPE	Education level	
*   NAME_FAMILY_STATUS	Marital status	
*   NAME_HOUSING_TYPE	Way of living	
*   DAYS_BIRTH	Birthday	Count backwards from current day (0), -1 means yesterday
*   DAYS_EMPLOYED	Start date of employment	Count backwards from current day(0). If positive, it means the person currently unemployed.
FLAG_MOBIL	Is there a mobile phone	
*   FLAG_WORK_PHONE	Is there a work phone	
*   FLAG_PHONE	Is there a phone	
*   FLAG_EMAIL	Is there an email	
*   OCCUPATION_TYPE	Occupation	
*   CNT_FAM_MEMBERS	Family size	

**credit_record.csv**
*   Feature name	Explanation	Remarks
*   ID	Client number	
*   MONTHS_BALANCE	Record month	The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on
*   STATUS	Status	
   *   0: 1-29 days past due
   *   1: 30-59 days past due 
   *   2: 60-89 days overdue 
   *   3: 90-119 days overdue 
   *   4: 120-149 days overdue 
    *   5: Overdue or bad debts, write-offs for more than 150 days
    *   C: paid off that month X: No loan for the month

## Считываем данные

In [3]:
data = spark.read.csv('/content/application_record.csv', header=True, inferSchema=True)
record = spark.read.csv('/content/credit_record.csv', header=True, inferSchema=True)

In [4]:
data.describe()

DataFrame[summary: string, ID: string, CODE_GENDER: string, FLAG_OWN_CAR: string, FLAG_OWN_REALTY: string, CNT_CHILDREN: string, AMT_INCOME_TOTAL: string, NAME_INCOME_TYPE: string, NAME_EDUCATION_TYPE: string, NAME_FAMILY_STATUS: string, NAME_HOUSING_TYPE: string, DAYS_BIRTH: string, DAYS_EMPLOYED: string, FLAG_MOBIL: string, FLAG_WORK_PHONE: string, FLAG_PHONE: string, FLAG_EMAIL: string, OCCUPATION_TYPE: string, CNT_FAM_MEMBERS: string]

In [5]:
for row in data.schema:
  print(row)

StructField('ID', IntegerType(), True)
StructField('CODE_GENDER', StringType(), True)
StructField('FLAG_OWN_CAR', StringType(), True)
StructField('FLAG_OWN_REALTY', StringType(), True)
StructField('CNT_CHILDREN', IntegerType(), True)
StructField('AMT_INCOME_TOTAL', DoubleType(), True)
StructField('NAME_INCOME_TYPE', StringType(), True)
StructField('NAME_EDUCATION_TYPE', StringType(), True)
StructField('NAME_FAMILY_STATUS', StringType(), True)
StructField('NAME_HOUSING_TYPE', StringType(), True)
StructField('DAYS_BIRTH', IntegerType(), True)
StructField('DAYS_EMPLOYED', IntegerType(), True)
StructField('FLAG_MOBIL', IntegerType(), True)
StructField('FLAG_WORK_PHONE', IntegerType(), True)
StructField('FLAG_PHONE', IntegerType(), True)
StructField('FLAG_EMAIL', IntegerType(), True)
StructField('OCCUPATION_TYPE', StringType(), True)
StructField('CNT_FAM_MEMBERS', DoubleType(), True)

In [6]:
record.show(5)

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
+-------+--------------+------+
only showing top 5 rows

In [7]:
for row in record.schema:
  print(row)

StructField('ID', IntegerType(), True)
StructField('MONTHS_BALANCE', IntegerType(), True)
StructField('STATUS', StringType(), True)

In [8]:
from pyspark.sql.functions import col, when

In [9]:
begin_month = record.groupby(["ID"]).min('MONTHS_BALANCE').withColumn('begin_month', col('min(MONTHS_BALANCE)')* -1).drop('min(MONTHS_BALANCE)')

In [10]:
new_data = data.join(begin_month, ['ID'], 'left')

In [11]:
cpunt = record.withColumn('dep_value', when(record['STATUS'] == '2', '1')\
                                .when(record['STATUS'] == '3', '1')\
                                .when(record['STATUS'] == '4', '1')\
                                .when(record['STATUS'] == '5', '1')\
                                .otherwise(None))

In [12]:
cpunt = cpunt.withColumn('dep_value', cpunt['dep_value'].cast('int')).groupby('ID').sum('dep_value')

In [13]:
cpunt = cpunt.withColumn('target', when(cpunt['sum(dep_value)'] > 0, 1).otherwise(0)).drop('sum(dep_value)')

In [14]:
new_data = new_data.join(cpunt, ['ID'], 'inner')

In [15]:
#  В итоге к анкетным данным мы добавили таргет
new_data.groupby('target').count().show()

+------+-----+
|target|count|
+------+-----+
|     1|  616|
|     0|35841|
+------+-----+

In [16]:
# Упростим себе задачу и оставим только часть признаков
features = ['AMT_INCOME_TOTAL', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN']	
target = ['target',]
dataset = new_data[features + target]

In [17]:
dataset.withColumn('target', dataset['target'].cast('int'))

DataFrame[AMT_INCOME_TOTAL: double, CODE_GENDER: string, FLAG_OWN_CAR: string, FLAG_OWN_REALTY: string, CNT_CHILDREN: int, target: int]

У нас есть выборка, где указаны параметры клиента, и вышел ли он на просрочку или нет.

In [18]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml import Pipeline

In [19]:
text_columns = ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']

stri = StringIndexer(inputCols=text_columns, outputCols=[column+'_stri' for column in text_columns])
ohe = OneHotEncoder(inputCols=stri.getOutputCols(), outputCols=[column+'_ohe' for column in text_columns])
pipe = Pipeline(stages=[
    stri,
    ohe
])
total_new_data = pipe.fit(new_data).transform(new_data)

In [20]:
# total_new_data[[x + '_ohe' for x in text_columns] + text_columns].show(15)
total_new_data.show(15)

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------+----------------+-----------------+--------------------+---------------+----------------+-------------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|begin_month|target|CODE_GENDER_stri|FLAG_OWN_CAR_stri|FLAG_OWN_REALTY_stri|CODE_GENDER_ohe|FLAG_OWN_CAR_ohe|FLAG_OWN_REALTY_ohe|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------+----------------+-----------------+--------------------+---------------+----------------+-------------------+
|5008804|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           null|            2.0|         15|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5008805|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           null|            2.0|         14|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|         29|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5008808|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|          4|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008809|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|         26|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008810|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|         26|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|         38|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008812|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|         20|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008813|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|         16|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|         17|     0|             0.0|              0.0|                 0.0|  (1,[0],[1.0])|   (1,[0],[1.0])|      (1,[0],[1.0])|
|5008815|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|          5|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5112956|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|         42|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5008819|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|         17|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5008820|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|         16|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
|5008821|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|          8|     0|             1.0|              1.0|                 0.0|      (1,[],[])|       (1,[],[])|      (1,[0],[1.0])|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------+----------------+-----------------+--------------------+---------------+----------------+-------------------+
only showing top 15 rows

In [21]:
from pyspark.ml.feature import MinMaxScaler

In [23]:
from pyspark.ml.classification import LogisticRegression


from pyspark.ml.feature import VectorAssembler

# text_columns = ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']
text_columns = []
columns_to_scale = ['AMT_INCOME_TOTAL', 'CNT_CHILDREN']

stri = StringIndexer(inputCols=text_columns, outputCols=[column+'_stri' for column in text_columns])
ohe = OneHotEncoder(inputCols=stri.getOutputCols(), outputCols=[column+'_ohe' for column in text_columns])

assemblers = [VectorAssembler(inputCols=[col], outputCol=col + "_vec") for col in columns_to_scale]
scalers = [MinMaxScaler(inputCol=col + "_vec", outputCol=col + "_scaled") for col in columns_to_scale]
lr = LogisticRegression(featuresCol='learn_vector', labelCol='target')

main_assembler = VectorAssembler(inputCols=ohe.getOutputCols() + [scaler.getOutputCol() for scaler in scalers], outputCol='learn_vector')

pipeline = Pipeline(stages=[stri, ohe] + assemblers + scalers + [main_assembler, lr])

#  Модель

In [24]:
train_data, test_data = new_data.randomSplit([0.7, 0.3], seed=42)
fit_model = pipeline.fit(train_data)
results = fit_model.transform(test_data)
results.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------+--------------------+----------------+-----------------------+--------------------+--------------------+--------------------+--------------------+----------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|begin_month|target|AMT_INCOME_TOTAL_vec|CNT_CHILDREN_vec|AMT_INCOME_TOTAL_scaled| CNT_CHILDREN_scaled|        learn_vector|       rawPrediction|         probability|prediction|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------+--------------------+----------------+-----------------------+--------------------+--------------------+--------------------+--------------------+----------+
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|         29|     0|          [112500.0]|           [0.0]|   [0.05523255813953...|               [0.0]|[0.05523255813953...|[4.03107942711832...|[0.98255459170341...|       0.0|
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|         38|     0|          [270000.0]|           [0.0]|   [0.1569767441860465]|               [0.0]|[0.15697674418604...|[4.06141158647864...|[0.98306697820401...|       0.0|
|5008813|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|         16|     0|          [283500.0]|           [0.0]|   [0.16569767441860...|               [0.0]|[0.16569767441860...|[4.06401148585238...|[0.98311020258388...|       0.0|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|         17|     0|          [283500.0]|           [0.0]|   [0.16569767441860...|               [0.0]|[0.16569767441860...|[4.06401148585238...|[0.98311020258388...|       0.0|
|5008821|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|          8|     0|          [135000.0]|           [0.0]|   [0.06976744186046...|               [0.0]|[0.06976744186046...|[4.03541259274122...|[0.98262871168142...|       0.0|
|5008822|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|         22|     0|          [135000.0]|           [0.0]|   [0.06976744186046...|               [0.0]|[0.06976744186046...|[4.03541259274122...|[0.98262871168142...|       0.0|
|5008823|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|          7|     0|          [135000.0]|           [0.0]|   [0.06976744186046...|               [0.0]|[0.06976744186046...|[4.03541259274122...|[0.98262871168142...|       0.0|
|5008830|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secon...|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|         31|     0|          [157500.0]|           [0.0]|   [0.08430232558139...|               [0.0]|[0.08430232558139...|[4.03974575836413...|[0.98270252229118...|       0.0|
|5008832|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secon...|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|         34|     0|          [157500.0]|           [0.0]|   [0.08430232558139...|               [0.0]|[0.08430232558139...|[4.03974575836413...|[0.98270252229118...|       0.0|
|5008835|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secon...|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           null|            2.0|         44|     0|          [112500.0]|           [1.0]|   [0.05523255813953...|[0.05263157894736...|[0.05523255813953...|[4.06859139273633...|[0.98318608177212...|       0.0|
|5008836|          M|           Y|              Y|           3|        270000.0|             Working|Secondary / secon...|             Married|House / apartment|    -12689|        -1163|         1|              0|         0|         0|       Laborers|            5.0|         24|     0|          [270000.0]|           [3.0]|   [0.1569767441860465]|[0.15789473684210...|[0.15697674418604...|[4.17394748333265...|[0.98484192097730...|       0.0|
|5008840|          M|           N|              Y|           1|        405000.0|Commercial associate|    Higher education|             Married|House / apartment|    -11842|        -2016|         1|              0|         0|         0|       Managers|            3.0|         55|     0|          [405000.0]|           [1.0]|   [0.24418604651162...|[0.05263157894736...|[0.24418604651162...|[4.12492254583405...|[0.98409239582335...|       0.0|
|5008841|          M|           N|              Y|           1|        405000.0|Commercial associate|    Higher education|             Married|House / apartment|    -11842|        -2016|         1|              0|         0|         0|       Managers|            3.0|          4|     0|          [405000.0]|           [1.0]|   [0.24418604651162...|[0.05263157894736...|[0.24418604651162...|[4.12492254583405...|[0.98409239582335...|       0.0|
|5008842|          M|           N|              Y|           1|        405000.0|Commercial associate|    Higher education|             Married|House / apartment|    -11842|        -2016|         1|              0|         0|         0|       Managers|            3.0|          8|     0|          [405000.0]|           [1.0]|   [0.24418604651162...|[0.05263157894736...|[0.24418604651162...|[4.12492254583405...|[0.98409239582335...|       0.0|
|5008844|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|         43|     0|          [112500.0]|           [0.0]|   [0.05523255813953...|               [0.0]|[0.05523255813953...|[4.03107942711832...|[0.98255459170341...|       0.0|
|5008847|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|         46|     0|          [112500.0]|           [0.0]|   [0.05523255813953...|               [0.0]|[0.05523255813953...|[4.03107942711832...|[0.98255459170341...|       0.0|
|5008849|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|         51|     0|          [112500.0]|           [0.0]|   [0.05523255813953...|               [0.0]|[0.05523255813953...|[4.03107942711832...|[0.98255459170341...|       0.0|
|5008853|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|         39|     0|          [112500.0]|           [0.0]|   [0.05523255813953...|               [0.0]|[0.05523255813953...|[4.03107942711832...|[0.98255459170341...|       0.0|
|5008856|          F|           Y|              Y|           2|        135000.0|             Working|Secondary / secon...|             Married|House / apartment|    -15761|        -3173|         1|              0|         0|         0|       Laborers|            4.0|          3|     0|          [135000.0]|           [2.0]|   [0.06976744186046...|[0.10526315789473...|[0.06976744186046...|[4.11043652397723...|[0.98386402617113...|       0.0|
|5008857|          F|           Y|              Y|           2|        135000.0|             Working|Secondary / secon...|             Married|House / apartment|    -15761|        -3173|         1|              0|         0|         0|       Laborers|            4.0|         27|     0|          [135000.0]|           [2.0]|   [0.06976744186046...|[0.10526315789473...|[0.06976744186046...|[4.11043652397723...|[0.98386402617113...|       0.0|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------+--------------------+----------------+-----------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [25]:
results.groupby('prediction').count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|       0.0|10839|
+----------+-----+

In [26]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

res = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='target')
  
# Evaluating the AUC on results
ROC_AUC = res.evaluate(results)
ROC_AUC

0.5