In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=fda99a8616d22360424db376f3bda324b47069abb05c6aeb4f75ee6eab305b00
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
from pyspark.sql import functions as F
from pyspark.sql.types import *

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
    .master("local[2]")\
    .appName("Lesson_2")\
    .config("spark.executor.instances",2)\
    .config("spark.executor.memory",'2g')\
    .config("spark.executor.cores",1)\
    .getOrCreate()
sc = spark.sparkContext

In [4]:
df = spark.read.load('raw_sales.csv', format='csv', header=True, inferSchema=True)

In [5]:
for row in df.schema:
  print(row)

StructField('datesold', TimestampType(), True)
StructField('postcode', IntegerType(), True)
StructField('price', IntegerType(), True)
StructField('propertyType', StringType(), True)
StructField('bedrooms', IntegerType(), True)

# Самостоятельная работа к уроку 4
На уроке мы попробовали оконные и пользовательские функции. Теперь закрепим полученные знания.

## Данные: [google drive: raw_sales.csv](https://drive.google.com/file/d/1G2N7Mnt4-Tqz4JdJxutGDMbJiOr32kZp/view?usp=sharing)

 Каждая строчка это продажа жилья, которая состоит из следующих полей (думаю описание не требуется):
*   date of sale
*   price
*   property type
*   number of bedrooms
*   4digit postcode

## Задание 1
Добавьте к таблице следующие поля:
*  Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode)
*  Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode)
*  Стоимость последнего проданного дома до текущего

In [6]:
df.createOrReplaceTempView('df')

In [20]:
spark.sql('''
SELECT
  postcode,
  datesold,
  AVG(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 10 PRECEDING AND 1 PRECEDING) AS AVG_PRICE_10_BEFORE,
  AVG(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 1 FOLLOWING AND 10 FOLLOWING) AS AVG_PRICE_10_AFTER,
  SUM(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 1 PRECEDING AND 1 PRECEDING) AS PRICE_BEFORE
FROM df
ORDER BY postcode, datesold;''').show()

+--------+-------------------+-------------------+------------------+------------+
|postcode|           datesold|AVG_PRICE_10_BEFORE|AVG_PRICE_10_AFTER|PRICE_BEFORE|
+--------+-------------------+-------------------+------------------+------------+
|    2600|2007-07-08 00:00:00|               null|          708350.0|        null|
|    2600|2007-08-16 00:00:00|           327000.0|          698350.0|      327000|
|    2600|2007-12-05 00:00:00|           558500.0|          679350.0|      790000|
|    2600|2008-01-21 00:00:00|  647333.3333333334|          742850.0|      825000|
|    2600|2008-04-24 00:00:00|           564250.0|          786600.0|      315000|
|    2600|2008-05-30 00:00:00|           509900.0|          839200.0|      292500|
|    2600|2008-06-19 00:00:00|           479750.0|          868450.0|      329000|
|    2600|2008-07-29 00:00:00|           520500.0|          805750.0|      765000|
|    2600|2008-09-02 00:00:00|           571312.5|          715250.0|      927000|
|    2600|2008-09-08 00:00:00|  661166.6666666666|          756250.0|     1380000|
|    2600|2008-09-17 00:00:00|           669050.0|          741750.0|      740000|
|    2600|2008-09-22 00:00:00|           708350.0|          730550.0|      720000|
|    2600|2008-11-18 00:00:00|           698350.0|          755050.0|      690000|
|    2600|2008-11-18 00:00:00|           679350.0|          701050.0|      635000|
|    2600|2008-11-21 00:00:00|           742850.0|          729550.0|      950000|
|    2600|2008-12-22 00:00:00|           786600.0|          716250.0|      730000|
|    2600|2008-12-24 00:00:00|           839200.0|          641500.0|      855000|
|    2600|2009-01-06 00:00:00|           868450.0|          672500.0|     1057500|
|    2600|2009-01-12 00:00:00|           805750.0|          689000.0|      300000|
|    2600|2009-01-20 00:00:00|           715250.0|          641500.0|      475000|
+--------+-------------------+-------------------+------------------+------------+
only showing top 20 rows

## Задание 2
В итоге у вас таблица с колонками (или нечто похожее):
*   price
*   Среднегодовая цена
*  Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode) (1 балл)
*  Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode) (1 балл)
*  Стоимость последнего проданного дома до текущего ((1 балл)
*  и др.

Посчитайте кол-во уникальных значений в каждой строчке (unique(row)) (ипользуйте udf). Попробуйте сделать то же самое используя pandas udf.

In [23]:
prices = spark.sql('''
SELECT
  postcode,
  datesold,
  AVG(price) OVER (ORDER BY YEAR(datesold)) AS AVG_PRICE_YEAR,
  AVG(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 10 PRECEDING AND 1 PRECEDING) AS AVG_PRICE_10_BEFORE,
  AVG(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 1 FOLLOWING AND 10 FOLLOWING) AS AVG_PRICE_10_AFTER,
  SUM(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 1 PRECEDING AND 1 PRECEDING) AS PRICE_BEFORE
FROM df
ORDER BY postcode, datesold;''')

In [71]:
postcode = spark.sql('''SELECT postcode FROM df''')

In [81]:
for col in prices.columns:
  print(prices[col])

Column<'postcode'>
Column<'datesold'>
Column<'AVG_PRICE_YEAR'>
Column<'AVG_PRICE_10_BEFORE'>
Column<'AVG_PRICE_10_AFTER'>
Column<'PRICE_BEFORE'>

In [76]:
postcode.dropDuplicates().count()

27

In [79]:
@F.udf(returnType=IntegerType())
def f(col):
  return col.dropDuplicates().count()

# Задание 3
SQL like case when или if elif else

Создайте колонку, в которой в которой будет отображаться "+", "-" или "=", если "Средняя стомость 10 проданных домов до текущего в том же районе" больше, меньше или равно "Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode)", соотвественно.

Если одно из полей Null, запишите в эту колонку "Нет данных"

In [69]:
spark.sql('''
SELECT
  postcode,
  datesold,
  AVG(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 10 PRECEDING AND 1 PRECEDING) AS AVG_PRICE_10_BEFORE,
  AVG(price) OVER (ORDER BY postcode, datesold ROWS BETWEEN 1 FOLLOWING AND 10 FOLLOWING) AS AVG_PRICE_10_AFTER,
  CASE
  WHEN AVG_PRICE_10_BEFORE IS NULL OR 
      AVG_PRICE_10_AFTER IS NULL THEN 'Нет данных'
  WHEN AVG_PRICE_10_BEFORE > AVG_PRICE_10_AFTER THEN "+"
  WHEN AVG_PRICE_10_BEFORE < AVG_PRICE_10_AFTER THEN "-"
  WHEN AVG_PRICE_10_BEFORE = AVG_PRICE_10_AFTER THEN "="
  END as price_comparison  
FROM df
ORDER BY postcode, datesold;''').show()

+--------+-------------------+-------------------+------------------+----------------+
|postcode|           datesold|AVG_PRICE_10_BEFORE|AVG_PRICE_10_AFTER|price_comparison|
+--------+-------------------+-------------------+------------------+----------------+
|    2600|2007-07-08 00:00:00|               null|          708350.0|      Нет данных|
|    2600|2007-08-16 00:00:00|           327000.0|          698350.0|               -|
|    2600|2007-12-05 00:00:00|           558500.0|          679350.0|               -|
|    2600|2008-01-21 00:00:00|  647333.3333333334|          742850.0|               -|
|    2600|2008-04-24 00:00:00|           564250.0|          786600.0|               -|
|    2600|2008-05-30 00:00:00|           509900.0|          839200.0|               -|
|    2600|2008-06-19 00:00:00|           479750.0|          868450.0|               -|
|    2600|2008-07-29 00:00:00|           520500.0|          805750.0|               -|
|    2600|2008-09-02 00:00:00|           571312.5|          715250.0|               -|
|    2600|2008-09-08 00:00:00|  661166.6666666666|          756250.0|               -|
|    2600|2008-09-17 00:00:00|           669050.0|          741750.0|               -|
|    2600|2008-09-22 00:00:00|           708350.0|          730550.0|               -|
|    2600|2008-11-18 00:00:00|           698350.0|          755050.0|               -|
|    2600|2008-11-18 00:00:00|           679350.0|          701050.0|               -|
|    2600|2008-11-21 00:00:00|           742850.0|          729550.0|               +|
|    2600|2008-12-22 00:00:00|           786600.0|          716250.0|               +|
|    2600|2008-12-24 00:00:00|           839200.0|          641500.0|               +|
|    2600|2009-01-06 00:00:00|           868450.0|          672500.0|               +|
|    2600|2009-01-12 00:00:00|           805750.0|          689000.0|               +|
|    2600|2009-01-20 00:00:00|           715250.0|          641500.0|               +|
+--------+-------------------+-------------------+------------------+----------------+
only showing top 20 rows